{% extends "base.html" %}

{% block content %}

<h1> Membership Update</h1>

<small> *please note that the corresponding fee related to your new choice of membership type will be charged at the end of the year</small>

<br>

<hr>

<br>

<form action="{% url 'profile:memupdate' %}" method="post">
{% csrf_token %}

    <label for="umem">Available membership tyeps:</label>  
 

    <br>
    <br>

    <input type="submit" name="umem" id="umem" value="Silver"> 
    <p1> Price: {{price}} </p>

    <br>
    <br>

    <input type="submit" name="umem" id="umem" value="Gold">
    <p1> Price: {{price}} </p>


    <br>
    <br>

    <input type="submit" name="umem" id="umem" value="Bronze">

    <br>
    <br>

    <input type="submit" name="umem" id="umem" value="Platinum"> 

    <br>
    <br>
    
    <input type="submit" name="umem" id="umem" value="Diamond"> <br>

</form>

{% endblock content %}